
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    
}


<h3 class="page-title">
    Tiles
    <small>windows 8 style tiles examples</small>
</h3>
@if (TempData["isEdited"] != null)
{
    if ((bool)TempData["isEdited"])
    {
        <div class="row">
            <div class="alert alert-block alert-success fade in">
                <button type="button" class="close" data-dismiss="alert"></button>
                <h4 class="alert-heading">İşlem Barşarılı!</h4>
                <p>Ürün Bilgileri Güncellendi/Eklendi.</p>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-block alert-danger fade in">
            <button type="button" class="close" data-dismiss="alert"></button>
            <h4 class="alert-heading">Hata!</h4>
            <p>Ürün Bilgileri Güncellenemedi/Eklenemedi ! </p>
            <p>
             
            </p>
        </div>
    }
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-bubble font-green-sharp"></i>
            <span class="caption-subject font-green-sharp sbold">Extended Modals Example</span>
        </div>
        
    </div>
    <div class="portlet-body">
        <div class="tiles">
            <div class="tile double-down bg-blue-hoki">
                <div class="tile-body">
                    <i class="fa fa-bell-o"></i>
                </div>
                <div class="tile-object">
                    <div class="name"> Notifications </div>
                    <div class="number"> 6 </div>
                </div>
            </div>
            <div class="tile bg-red-sunglo">
                <div class="tile-body">
                    <i class="fa fa-calendar"></i>
                </div>
                <div class="tile-object">
                    <div class="name"> Meetings </div>
                    <div class="number"> 12 </div>
                </div>
            </div>
            <div class="tile double selected bg-green-turquoise">
                <div class="corner"> </div>
                <div class="check"> </div>
                <div class="tile-body">
                    <h4>support@metronic.com</h4>
                    <p> Re: Metronic v1.2 - Project Update! </p>
                    <p> 24 March 2013 12.30PM confirmed for the project plan update meeting... </p>
                </div>
                <div class="tile-object">
                    <div class="name">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="number"> 14 </div>
                </div>
            </div>
            <div class="tile selected bg-yellow-saffron">
                <div class="corner"> </div>
                <div class="tile-body">
                    <i class="fa fa-user"></i>
                </div>
                <div class="tile-object">
                    <div class="name"> Members </div>
                    <div class="number"> 452 </div>
                </div>
            </div>
            <div class="tile double bg-blue-madison">
                <div class="tile-body">
                    <img src="../assets/pages/media/profile/photo1.jpg" alt="">
                    <h4>Announcements</h4>
                    <p> Easily style icon color, size, shadow, and anything that's possible with CSS. </p>
                </div>
                <div class="tile-object">
                    <div class="name"> Bob Nilson </div>
                    <div class="number"> 24 Jan 2013 </div>
                </div>
            </div>
            <div class="tile bg-purple-studio">
                <div class="tile-body">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="tile-object">
                    <div class="name"> Orders </div>
                    <div class="number"> 121 </div>
                </div>
            </div>
            <div class="tile image selected">
                <div class="tile-body">
                    <img src="../assets/pages/media/gallery/image2.jpg" alt="">
                </div>
                <div class="tile-object">
                    <div class="name"> Media </div>
                </div>
            </div>
            <div class="tile bg-green-meadow">
                <div class="tile-body">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="tile-object">
                    <div class="name"> Feedback </div>
                    <div class="number"> 12 </div>
                </div>
            </div>
            <div class="tile double bg-grey-cascade">
                <div class="tile-body">
                    <img src="../assets/pages/media/profile/photo2.jpg" alt="" class="pull-right">
                    <h3></h3>
                    <p> I really love this theme. I look forward to check the next release! </p>
                </div>
                <div class="tile-object">
                    <div class="name">
                        <i class="fa fa-twitter"></i>
                    </div>
                    <div class="number"> 10:45PM, 23 Jan </div>
                </div>
            </div>
            <div class="tile bg-red-intense">
                <div class="tile-body">
                    <i class="fa fa-coffee"></i>
                </div>
                <div class="tile-object">
                    <div class="name"> Meetups </div>
                    <div class="number"> 12 Jan </div>
                </div>
            </div>
            <div class="tile bg-green">
                <div class="tile-body">
                    <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="tile-object">
                    <div class="name"> Reports </div>
                    <div class="number"> </div>
                </div>
            </div>
            <div class="tile bg-blue-steel">
                <div class="tile-body">
                    <i class="fa fa-briefcase"></i>
                </div>
                <div class="tile-object">
                    <div class="name"> Documents </div>
                    <div class="number"> 124 </div>
                </div>
            </div>
            <div class="tile image double selected">
                <div class="tile-body">
                    <img src="../assets/pages/media/gallery/image4.jpg" alt="">
                </div>
                <div class="tile-object">
                    <div class="name"> Gallery </div>
                    <div class="number"> 124 </div>
                </div>
            </div>
            <div class="tile bg-yellow-lemon selected">
                <div class="corner"> </div>
                <div class="check"> </div>
                <div class="tile-body">
                    <i class="fa fa-cogs"></i>
                </div>
                <div class="tile-object">
                    <div class="name"> Settings </div>
                </div>
            </div>
            <div class="tile bg-red-sunglo">
                <div class="tile-body">
                    <i class="fa fa-plane"></i>
                </div>
                <div class="tile-object">
                    <div class="name"> Projects </div>
                    <div class="number"> 34 </div>
                </div>
            </div>
        </div>
    </div>
</div>

